{% extends template.self %}

{% block faq_header_brand %}
<img src="/images/openshift.png" height="30" />
{% endblock %}

{% block faq_menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://www.openshift.com">OpenShift.Com</a></li>
    <li><a href="contributing-to-this-cookbook/how-can-i-report-a-problem-with-information-on-this-site.html" target="_blank">Report a Problem</a></li>
    <li><a href="contributing-to-this-cookbook/how-can-i-suggest-a-topic-to-be-covered-by-this-site.html" target="_blank">Suggest a Topic</a></li>
</ul>
{% endblock %}
