/* Lone images are screenshots or figure, and should be centered and framed.*/
p > img:only-child {
    max-width: 95%;
    padding: 1%;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}
